<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-comecar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,121}}</string>
                <key>sourceSize</key>
                <string>{281,121}</string>
            </dict>
            <key>btn-dificil.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{221,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,106}}</string>
                <key>sourceSize</key>
                <string>{221,106}</string>
            </dict>
            <key>btn-facil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{221,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,106}}</string>
                <key>sourceSize</key>
                <string>{221,106}</string>
            </dict>
            <key>btn-foto.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,125},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>btn-proximo.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,125},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>btn-som-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>btn-som.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,260},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>btn-voltar-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,260},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btn-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,260},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:265230ffaa4d2ed7c5ae0b89dd62ddb8$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
