<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,91},{209,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,98}}</string>
                <key>sourceSize</key>
                <string>{209,98}</string>
            </dict>
            <key>btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>btn-comecar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{261,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,113}}</string>
                <key>sourceSize</key>
                <string>{261,113}</string>
            </dict>
            <key>btn-credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{77,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,81}</string>
            </dict>
            <key>btn-dificil.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,191},{206,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,99}}</string>
                <key>sourceSize</key>
                <string>{206,99}</string>
            </dict>
            <key>btn-facil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{206,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,99}}</string>
                <key>sourceSize</key>
                <string>{206,99}</string>
            </dict>
            <key>btn-foto.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{121,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,92}}</string>
                <key>sourceSize</key>
                <string>{121,92}</string>
            </dict>
            <key>btn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{214,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,102}}</string>
                <key>sourceSize</key>
                <string>{214,102}</string>
            </dict>
            <key>btn-novo-jogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{252,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,87}}</string>
                <key>sourceSize</key>
                <string>{252,87}</string>
            </dict>
            <key>btn-opcoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>btn-proximo.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,628},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>btn-voltar-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>btn-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,628},{121,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,124}}</string>
                <key>sourceSize</key>
                <string>{121,124}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,292},{206,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,107}}</string>
                <key>sourceSize</key>
                <string>{206,107}</string>
            </dict>
            <key>piece-white-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{131,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,118}}</string>
                <key>sourceSize</key>
                <string>{131,118}</string>
            </dict>
            <key>piece-white-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,628},{126,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,145}}</string>
                <key>sourceSize</key>
                <string>{126,145}</string>
            </dict>
            <key>piece-white-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,513},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>piece-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,401},{139,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,110}}</string>
                <key>sourceSize</key>
                <string>{139,110}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,775},{129,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,187}}</string>
                <key>sourceSize</key>
                <string>{129,187}</string>
            </dict>
            <key>tree_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,775},{173,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,204}}</string>
                <key>sourceSize</key>
                <string>{173,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad07df795471fa6a4a63c49d38d23bf7$</string>
            <key>textureFileName</key>
            <string>buttons-hd.png</string>
        </dict>
    </dict>
</plist>
