<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bt-voltar.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,377},{450,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,210}}</string>
			<key>sourceSize</key>
			<string>{450,210}</string>
		</dict>
		<key>btn-close.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,2},{166,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,173}}</string>
			<key>sourceSize</key>
			<string>{166,173}</string>
		</dict>
		<key>btn-comecar.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1050},{561,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{561,242}}</string>
			<key>sourceSize</key>
			<string>{561,242}</string>
		</dict>
		<key>btn-credits.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,2},{166,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,173}}</string>
			<key>sourceSize</key>
			<string>{166,173}</string>
		</dict>
		<key>btn-dificil.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{441,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,211}}</string>
			<key>sourceSize</key>
			<string>{441,211}</string>
		</dict>
		<key>btn-facil.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,377},{441,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,211}}</string>
			<key>sourceSize</key>
			<string>{441,211}</string>
		</dict>
		<key>btn-foto.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,177},{260,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,198}}</string>
			<key>sourceSize</key>
			<string>{260,198}</string>
		</dict>
		<key>btn-normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,590},{460,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,220}}</string>
			<key>sourceSize</key>
			<string>{460,220}</string>
		</dict>
		<key>btn-novo-jogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,177},{541,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,188}}</string>
			<key>sourceSize</key>
			<string>{541,188}</string>
		</dict>
		<key>btn-opcoes.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,812},{239,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,231}}</string>
			<key>sourceSize</key>
			<string>{239,231}</string>
		</dict>
		<key>btn-proximo.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,1295},{259,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,266}}</string>
			<key>sourceSize</key>
			<string>{259,266}</string>
		</dict>
		<key>btn-som-off.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,2},{159,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,144}}</string>
			<key>sourceSize</key>
			<string>{159,144}</string>
		</dict>
		<key>btn-som.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{159,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,144}}</string>
			<key>sourceSize</key>
			<string>{159,144}</string>
		</dict>
		<key>btn-voltar-mini.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{142,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,144}}</string>
			<key>sourceSize</key>
			<string>{142,144}</string>
		</dict>
		<key>btn-voltar.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,1295},{259,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,266}}</string>
			<key>sourceSize</key>
			<string>{259,266}</string>
		</dict>
		<key>mushroom.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,812},{441,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,229}}</string>
			<key>sourceSize</key>
			<string>{441,229}</string>
		</dict>
		<key>piece-white-1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1295},{282,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,254}}</string>
			<key>sourceSize</key>
			<string>{282,254}</string>
		</dict>
		<key>piece-white-2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1563},{269,311}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{269,311}}</string>
			<key>sourceSize</key>
			<string>{269,311}</string>
		</dict>
		<key>piece-white-3.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,1050},{243,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,243}}</string>
			<key>sourceSize</key>
			<string>{243,243}</string>
		</dict>
		<key>piece-white.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,812},{297,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,236}}</string>
			<key>sourceSize</key>
			<string>{297,236}</string>
		</dict>
		<key>tree.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,1563},{277,402}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,402}}</string>
			<key>sourceSize</key>
			<string>{277,402}</string>
		</dict>
		<key>tree_two.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,1563},{372,437}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{372,437}}</string>
			<key>sourceSize</key>
			<string>{372,437}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>buttons-ipadhd.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a983b887dbecef1cab1e3be165f31e4b$</string>
		<key>textureFileName</key>
		<string>buttons-ipadhd.png</string>
	</dict>
</dict>
</plist>
