<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>s1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>s10.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,596},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>s11.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{117,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,210}}</string>
			<key>sourceSize</key>
			<string>{117,210}</string>
		</dict>
		<key>s12.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,2},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>s13.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,2},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>s14.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,2},{117,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,211}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>s15.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,2},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>s16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,215},{117,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,211}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>s17.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,215},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>s18.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,215},{117,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,211}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>s19.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,215},{117,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,165}}</string>
			<key>sourceSize</key>
			<string>{117,165}</string>
		</dict>
		<key>s2.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,215},{117,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,166}}</string>
			<key>sourceSize</key>
			<string>{117,166}</string>
		</dict>
		<key>s20.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,215},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>s21.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,215},{117,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,165}}</string>
			<key>sourceSize</key>
			<string>{117,165}</string>
		</dict>
		<key>s22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,428},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>s23.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,428},{117,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,165}}</string>
			<key>sourceSize</key>
			<string>{117,165}</string>
		</dict>
		<key>s24.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,428},{160,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,120}}</string>
			<key>sourceSize</key>
			<string>{160,120}</string>
		</dict>
		<key>s3.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,428},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>s4.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,428},{117,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,166}}</string>
			<key>sourceSize</key>
			<string>{117,166}</string>
		</dict>
		<key>s5.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,428},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>s6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,596},{117,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,166}}</string>
			<key>sourceSize</key>
			<string>{117,166}</string>
		</dict>
		<key>s7.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,596},{117,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,210}}</string>
			<key>sourceSize</key>
			<string>{117,210}</string>
		</dict>
		<key>s8.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,596},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>s9.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,596},{117,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,210}}</string>
			<key>sourceSize</key>
			<string>{117,210}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pieces_6x4_bevel-ipad.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:3a8a429d8e2852e6e4743d3bc45e67d9$</string>
		<key>textureFileName</key>
		<string>pieces_6x4_bevel-ipad.png</string>
	</dict>
</dict>
</plist>
