<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>s14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{174,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,280}}</string>
                <key>sourceSize</key>
                <string>{174,280}</string>
            </dict>
            <key>s16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>s18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s19.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,284},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s20.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,284},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>s21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,284},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>s22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,284},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>s23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>s25.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,566},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,566},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>s27.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,566},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>s28.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,566},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>s29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,566},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,566},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>s30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,566},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,566},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s33.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,848},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s34.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,848},{174,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,280}}</string>
                <key>sourceSize</key>
                <string>{174,280}</string>
            </dict>
            <key>s35.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,848},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>s36.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,848},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>s37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,848},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,848},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>s39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,848},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>s40.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1130},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>s41.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1130},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>s42.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1130},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>s43.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1130},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>s44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1130},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>s45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1130},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1130},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>s47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1130},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1352},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,566},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1352},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1352},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_8x6_bevel-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61111f077bbed4ecf56f53ac37ec1f63$</string>
            <key>textureFileName</key>
            <string>pieces_8x6_bevel-ipadhd.png</string>
        </dict>
    </dict>
</plist>
