<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{152,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>p12.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>p13.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>p14.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p15.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{87,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,140}}</string>
                <key>sourceSize</key>
                <string>{87,140}</string>
            </dict>
            <key>p16.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>p18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,144},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p19.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,144},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,144},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p20.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,144},{152,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>p21.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,144},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>p22.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,144},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>p23.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,144},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>p25.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,286},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p26.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,286},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>p27.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,286},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>p28.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,286},{152,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>p29.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,286},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,286},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>p30.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,286},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p32.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,428},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p33.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,428},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p34.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,428},{87,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,140}}</string>
                <key>sourceSize</key>
                <string>{87,140}</string>
            </dict>
            <key>p35.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,428},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>p36.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,428},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>p37.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,428},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p38.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,428},{120,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,140}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>p39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,570},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>p40.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,570},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>p41.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,570},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
            <key>p42.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,570},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>p43.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,570},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>p44.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,570},{152,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>p45.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,570},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>p47.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,682},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p48.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,682},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,682},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,80}}</string>
                <key>sourceSize</key>
                <string>{152,80}</string>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,144},{120,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{120,110}</string>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,286},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,682},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,682},{87,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,80}}</string>
                <key>sourceSize</key>
                <string>{87,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_8x6-ipad.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04fb394fbbec2856d55ab68978e60831$</string>
            <key>textureFileName</key>
            <string>pieces_8x6-ipad.png</string>
        </dict>
    </dict>
</plist>
