<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{117,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,166}}</string>
			<key>sourceSize</key>
			<string>{117,166}</string>
		</dict>
		<key>p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,2},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,2},{117,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,166}}</string>
			<key>sourceSize</key>
			<string>{117,166}</string>
		</dict>
		<key>p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,2},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,2},{117,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,166}}</string>
			<key>sourceSize</key>
			<string>{117,166}</string>
		</dict>
		<key>p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{117,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,210}}</string>
			<key>sourceSize</key>
			<string>{117,210}</string>
		</dict>
		<key>p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,170},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,170},{117,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,210}}</string>
			<key>sourceSize</key>
			<string>{117,210}</string>
		</dict>
		<key>p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,170},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,170},{117,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,210}}</string>
			<key>sourceSize</key>
			<string>{117,210}</string>
		</dict>
		<key>p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,170},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>p13.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,170},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>p14.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,170},{117,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,211}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>p15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,383},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>p16.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,383},{117,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,211}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>p17.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,383},{204,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,121}}</string>
			<key>sourceSize</key>
			<string>{204,121}</string>
		</dict>
		<key>p18.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,383},{117,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,211}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>p19.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,383},{117,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,165}}</string>
			<key>sourceSize</key>
			<string>{117,165}</string>
		</dict>
		<key>p20.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,383},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>p21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,596},{117,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,165}}</string>
			<key>sourceSize</key>
			<string>{117,165}</string>
		</dict>
		<key>p22.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,596},{204,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,120}}</string>
			<key>sourceSize</key>
			<string>{204,120}</string>
		</dict>
		<key>p23.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,596},{117,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,165}}</string>
			<key>sourceSize</key>
			<string>{117,165}</string>
		</dict>
		<key>p24.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,596},{160,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,120}}</string>
			<key>sourceSize</key>
			<string>{160,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pieces.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e11c8e9a3aa0b294a107a420965c0cd5$</string>
		<key>textureFileName</key>
		<string>pieces.png</string>
	</dict>
</dict>
</plist>
