<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{190,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,113}}</string>
                <key>sourceSize</key>
                <string>{190,113}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{109,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,195}}</string>
                <key>sourceSize</key>
                <string>{109,195}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{149,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,113}}</string>
                <key>sourceSize</key>
                <string>{149,113}</string>
            </dict>
            <key>s14.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{109,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,196}}</string>
                <key>sourceSize</key>
                <string>{109,196}</string>
            </dict>
            <key>s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{190,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,113}}</string>
                <key>sourceSize</key>
                <string>{190,113}</string>
            </dict>
            <key>s16.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{109,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,196}}</string>
                <key>sourceSize</key>
                <string>{109,196}</string>
            </dict>
            <key>s17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{190,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,113}}</string>
                <key>sourceSize</key>
                <string>{190,113}</string>
            </dict>
            <key>s18.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,200},{109,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,196}}</string>
                <key>sourceSize</key>
                <string>{109,196}</string>
            </dict>
            <key>s19.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,200},{109,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,153}}</string>
                <key>sourceSize</key>
                <string>{109,153}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,200},{109,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,154}}</string>
                <key>sourceSize</key>
                <string>{109,154}</string>
            </dict>
            <key>s20.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,200},{190,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,112}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>s21.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,200},{109,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,153}}</string>
                <key>sourceSize</key>
                <string>{109,153}</string>
            </dict>
            <key>s22.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,200},{190,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,112}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>s23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{109,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,153}}</string>
                <key>sourceSize</key>
                <string>{109,153}</string>
            </dict>
            <key>s24.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,398},{149,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,112}}</string>
                <key>sourceSize</key>
                <string>{149,112}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,398},{190,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,112}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,398},{109,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,154}}</string>
                <key>sourceSize</key>
                <string>{109,154}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,398},{190,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,112}}</string>
                <key>sourceSize</key>
                <string>{190,112}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,398},{109,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,154}}</string>
                <key>sourceSize</key>
                <string>{109,154}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,398},{109,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,195}}</string>
                <key>sourceSize</key>
                <string>{109,195}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{190,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,113}}</string>
                <key>sourceSize</key>
                <string>{190,113}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,595},{109,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,195}}</string>
                <key>sourceSize</key>
                <string>{109,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_6x4_bevel-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06adf0fb593747008ec01057a1864c55$</string>
            <key>textureFileName</key>
            <string>pieces_6x4_bevel-hd.png</string>
        </dict>
    </dict>
</plist>
