<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,219}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{303,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,159}}</string>
                <key>sourceSize</key>
                <string>{303,159}</string>
            </dict>
            <key>p11.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{238,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,219}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>p12.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{173,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,219}}</string>
                <key>sourceSize</key>
                <string>{173,219}</string>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{238,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,159}}</string>
                <key>sourceSize</key>
                <string>{238,159}</string>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,223},{238,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,219}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,223},{173,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,219}}</string>
                <key>sourceSize</key>
                <string>{173,219}</string>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,223},{238,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,219}}</string>
                <key>sourceSize</key>
                <string>{238,219}</string>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{173,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,279}}</string>
                <key>sourceSize</key>
                <string>{173,279}</string>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,444},{303,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,159}}</string>
                <key>sourceSize</key>
                <string>{303,159}</string>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,444},{173,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,159}}</string>
                <key>sourceSize</key>
                <string>{173,159}</string>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,444},{173,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,159}}</string>
                <key>sourceSize</key>
                <string>{173,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_4x3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17b9928552d46a665fc7717b1dac49b5$</string>
            <key>textureFileName</key>
            <string>pieces_4x3.png</string>
        </dict>
    </dict>
</plist>
