<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{82,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{82,103}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{112,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,75}}</string>
                <key>sourceSize</key>
                <string>{112,75}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,107},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,107},{82,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,103}}</string>
                <key>sourceSize</key>
                <string>{82,103}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,107},{82,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,107},{112,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,131}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{143,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,75}}</string>
                <key>sourceSize</key>
                <string>{143,75}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,240},{82,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,240},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_4x3_bevel.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abbe96a89ccd304e04a489e7d0c23a32$</string>
            <key>textureFileName</key>
            <string>pieces_4x3_bevel.png</string>
        </dict>
    </dict>
</plist>
