<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{225,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,105}}</string>
                <key>sourceSize</key>
                <string>{225,105}</string>
            </dict>
            <key>btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>btn-comecar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{281,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,121}}</string>
                <key>sourceSize</key>
                <string>{281,121}</string>
            </dict>
            <key>btn-credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>btn-dificil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{221,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,106}}</string>
                <key>sourceSize</key>
                <string>{221,106}</string>
            </dict>
            <key>btn-facil.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,192},{221,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,106}}</string>
                <key>sourceSize</key>
                <string>{221,106}</string>
            </dict>
            <key>btn-foto.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,91},{130,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,99}}</string>
                <key>sourceSize</key>
                <string>{130,99}</string>
            </dict>
            <key>btn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,300},{230,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,110}}</string>
                <key>sourceSize</key>
                <string>{230,110}</string>
            </dict>
            <key>btn-novo-jogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{271,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,94}}</string>
                <key>sourceSize</key>
                <string>{271,94}</string>
            </dict>
            <key>btn-opcoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,412},{120,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,116}}</string>
                <key>sourceSize</key>
                <string>{120,116}</string>
            </dict>
            <key>btn-proximo.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,656},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>btn-som-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>btn-som.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>btn-voltar-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btn-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,656},{130,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,133}}</string>
                <key>sourceSize</key>
                <string>{130,133}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{221,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,115}}</string>
                <key>sourceSize</key>
                <string>{221,115}</string>
            </dict>
            <key>piece-white-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{141,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,127}}</string>
                <key>sourceSize</key>
                <string>{141,127}</string>
            </dict>
            <key>piece-white-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,791},{135,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,156}}</string>
                <key>sourceSize</key>
                <string>{135,156}</string>
            </dict>
            <key>piece-white-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,532},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>piece-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,412},{149,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,118}}</string>
                <key>sourceSize</key>
                <string>{149,118}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,791},{139,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,201}}</string>
                <key>sourceSize</key>
                <string>{139,201}</string>
            </dict>
            <key>tree_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,791},{186,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,219}}</string>
                <key>sourceSize</key>
                <string>{186,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons-ipad.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:989b789f3d57853d6a2c1c890601b778$</string>
            <key>textureFileName</key>
            <string>buttons-ipad.png</string>
        </dict>
    </dict>
</plist>
