<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,49}}</string>
                <key>sourceSize</key>
                <string>{105,49}</string>
            </dict>
            <key>btn-close.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>btn-comecar.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{131,57}</string>
            </dict>
            <key>btn-credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>btn-dificil.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>btn-facil.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{103,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,50}}</string>
                <key>sourceSize</key>
                <string>{103,50}</string>
            </dict>
            <key>btn-foto.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,61},{61,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,46}}</string>
                <key>sourceSize</key>
                <string>{61,46}</string>
            </dict>
            <key>btn-normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,61},{107,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,51}}</string>
                <key>sourceSize</key>
                <string>{107,51}</string>
            </dict>
            <key>btn-novo-jogo.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,61},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>btn-opcoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,61},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,54}</string>
            </dict>
            <key>btn-proximo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>btn-voltar-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,117},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>btn-voltar.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,117},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,117},{103,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,54}}</string>
                <key>sourceSize</key>
                <string>{103,54}</string>
            </dict>
            <key>piece-white-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,117},{66,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,59}}</string>
                <key>sourceSize</key>
                <string>{66,59}</string>
            </dict>
            <key>piece-white-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,117},{63,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>piece-white-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,117},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>piece-white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,55}}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,192},{65,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,94}}</string>
                <key>sourceSize</key>
                <string>{65,94}</string>
            </dict>
            <key>tree_two.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,192},{87,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,102}}</string>
                <key>sourceSize</key>
                <string>{87,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5c254ab9c4c91ab43a1bc5b316f770$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
