<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>p1.png</key>
		<dict>
			<key>order</key>
			<integer>1</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p2.png</key>
		<dict>
		    <key>order</key>
			<integer>2</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p3.png</key>
		<dict>
			<key>order</key>
			<integer>3</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p4.png</key>
		<dict>
			<key>order</key>
			<integer>4</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p5.png</key>
		<dict>
			<key>order</key>
			<integer>5</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p6.png</key>
		<dict>
			<key>order</key>
			<integer>6</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p7.png</key>
		<dict>
			<key>order</key>
			<integer>7</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p8.png</key>
		<dict>
			<key>order</key>
			<integer>8</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p9.png</key>
		<dict>
			<key>order</key>
			<integer>9</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p10.png</key>
		<dict>
			<key>order</key>
			<integer>10</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p11.png</key>
		<dict>
			<key>order</key>
			<integer>11</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p12.png</key>
		<dict>
			<key>order</key>
			<integer>12</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p13.png</key>
		<dict>
			<key>order</key>
			<integer>13</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p14.png</key>
		<dict>
			<key>order</key>
			<integer>14</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p15.png</key>
		<dict>
			<key>order</key>
			<integer>15</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p16.png</key>
		<dict>
			<key>order</key>
			<integer>16</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p17.png</key>
		<dict>
			<key>order</key>
			<integer>17</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p18.png</key>
		<dict>
			<key>order</key>
			<integer>18</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p19.png</key>
		<dict>
			<key>order</key>
			<integer>19</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p20.png</key>
		<dict>
			<key>order</key>
			<integer>20</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p21.png</key>
		<dict>
			<key>order</key>
			<integer>21</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p22.png</key>
		<dict>
			<key>order</key>
			<integer>22</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p23.png</key>
		<dict>
			<key>order</key>
			<integer>22</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p24.png</key>
		<dict>
			<key>order</key>
			<integer>24</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p25.png</key>
		<dict>
			<key>order</key>
			<integer>25</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p26.png</key>
		<dict>
			<key>order</key>
			<integer>26</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p27.png</key>
		<dict>
			<key>order</key>
			<integer>27</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p28.png</key>
		<dict>
			<key>order</key>
			<integer>28</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p29.png</key>
		<dict>
			<key>order</key>
			<integer>29</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p30.png</key>
		<dict>
			<key>order</key>
			<integer>30</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p31.png</key>
		<dict>
			<key>order</key>
			<integer>31</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p32.png</key>
		<dict>
			<key>order</key>
			<integer>32</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p33.png</key>
		<dict>
			<key>order</key>
			<integer>33</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p34.png</key>
		<dict>
			<key>order</key>
			<integer>34</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p35.png</key>
		<dict>
			<key>order</key>
			<integer>35</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p36.png</key>
		<dict>
			<key>order</key>
			<integer>36</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p37.png</key>
		<dict>
			<key>order</key>
			<integer>37</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p38.png</key>
		<dict>
			<key>order</key>
			<integer>38</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p39.png</key>
		<dict>
			<key>order</key>
			<integer>39</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>1</integer>
		</dict>
		<key>p40.png</key>
		<dict>
			<key>order</key>
			<integer>40</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p41.png</key>
		<dict>
			<key>order</key>
			<integer>41</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p42.png</key>
		<dict>
			<key>order</key>
			<integer>42</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p43.png</key>
		<dict>
			<key>order</key>
			<integer>43</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p44.png</key>
		<dict>
			<key>order</key>
			<integer>44</integer>
			<key>hAlign</key>
			<integer>4</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p45.png</key>
		<dict>
			<key>order</key>
			<integer>45</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p46.png</key>
		<dict>
			<key>order</key>
			<integer>46</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>0</integer>
		</dict>
		<key>p47.png</key>
		<dict>
			<key>order</key>
			<integer>47</integer>
			<key>hAlign</key>
			<integer>3</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
		<key>p48.png</key>
		<dict>
			<key>order</key>
			<integer>48</integer>
			<key>hAlign</key>
			<integer>5</integer>
			<key>vAlign</key>
			<integer>2</integer>
		</dict>
	</dict>
</plist>
