<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>p1.png</key>
	<dict>
		<key>order</key>
		<integer>1</integer>
		<key>hAlign</key>
		<integer>3</integer>
		<key>vAlign</key>
		<integer>0</integer>
	</dict>
	<key>p2.png</key>
	<dict>
		<key>order</key>
		<integer>2</integer>
		<key>hAlign</key>
		<integer>3</integer>
		<key>vAlign</key>
		<integer>0</integer>
	</dict>
	<key>p3.png</key>
	<dict>
		<key>order</key>
		<integer>3</integer>
		<key>hAlign</key>
		<integer>3</integer>
		<key>vAlign</key>
		<integer>0</integer>
	</dict>
	<key>p4.png</key>
	<dict>
		<key>order</key>
		<integer>4</integer>
		<key>hAlign</key>
		<integer>5</integer>
		<key>vAlign</key>
		<integer>0</integer>
	</dict>
	<key>p5.png</key>
	<dict>
		<key>order</key>
		<integer>5</integer>
		<key>hAlign</key>
		<integer>4</integer>
		<key>vAlign</key>
		<integer>1</integer>
	</dict>
	<key>p6.png</key>
	<dict>
		<key>order</key>
		<integer>6</integer>
		<key>hAlign</key>
		<integer>5</integer>
		<key>vAlign</key>
		<integer>1</integer>
	</dict>
	<key>p7.png</key>
	<dict>
		<key>order</key>
		<integer>7</integer>
		<key>hAlign</key>
		<integer>4</integer>
		<key>vAlign</key>
		<integer>1</integer>
	</dict>
	<key>p8.png</key>
	<dict>
		<key>order</key>
		<integer>8</integer>
		<key>hAlign</key>
		<integer>5</integer>
		<key>vAlign</key>
		<integer>1</integer>
	</dict>
	<key>p9.png</key>
	<dict>
		<key>order</key>
		<integer>9</integer>
		<key>hAlign</key>
		<integer>3</integer>
		<key>vAlign</key>
		<integer>2</integer>
	</dict>
	<key>p10.png</key>
	<dict>
		<key>order</key>
		<integer>10</integer>
		<key>hAlign</key>
		<integer>3</integer>
		<key>vAlign</key>
		<integer>2</integer>
	</dict>
	<key>p11.png</key>
	<dict>
		<key>order</key>
		<integer>11</integer>
		<key>hAlign</key>
		<integer>3</integer>
		<key>vAlign</key>
		<integer>2</integer>
	</dict>
	<key>p12.png</key>
	<dict>
		<key>order</key>
		<integer>12</integer>
		<key>hAlign</key>
		<integer>5</integer>
		<key>vAlign</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
