<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>p12.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>p13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>p14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{174,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,280}}</string>
                <key>sourceSize</key>
                <string>{174,280}</string>
            </dict>
            <key>p16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>p18.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p19.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,284},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p20.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,284},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>p21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,284},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>p22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,284},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>p23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>p25.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,566},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p26.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,566},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>p27.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,566},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>p28.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,566},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>p29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,566},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,566},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>p30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,566},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,566},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p33.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,848},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p34.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,848},{174,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,280}}</string>
                <key>sourceSize</key>
                <string>{174,280}</string>
            </dict>
            <key>p35.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,848},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>p36.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,848},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>p37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,848},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,848},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>p39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,848},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>p40.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1130},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>p41.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1130},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
            <key>p42.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1130},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>p43.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1130},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>p44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1130},{304,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,220}}</string>
                <key>sourceSize</key>
                <string>{304,220}</string>
            </dict>
            <key>p45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1130},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1130},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>p47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1130},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1352},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1352},{304,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,160}}</string>
                <key>sourceSize</key>
                <string>{304,160}</string>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,284},{240,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,220}}</string>
                <key>sourceSize</key>
                <string>{240,220}</string>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,566},{240,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,160}}</string>
                <key>sourceSize</key>
                <string>{240,160}</string>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1352},{174,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,220}}</string>
                <key>sourceSize</key>
                <string>{174,220}</string>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1352},{174,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,160}}</string>
                <key>sourceSize</key>
                <string>{174,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_8x6-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61111f077bbed4ecf56f53ac37ec1f63$</string>
            <key>textureFileName</key>
            <string>pieces_8x6-ipadhd.png</string>
        </dict>
    </dict>
</plist>
