<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,281},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>s14.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>s16.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>s17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>s18.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,102},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>s19.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,102},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,102},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>s20.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,102},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>s21.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,102},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>s22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>s23.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,202},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>s24.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,202},{75,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,56}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,202},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,202},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,202},{95,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,56}}</string>
                <key>sourceSize</key>
                <string>{95,56}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,281},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,281},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,281},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,98}}</string>
                <key>sourceSize</key>
                <string>{55,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_6x4_bevel.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:699af63fa8ad6646fc9ffbc6c15a2e57$</string>
            <key>textureFileName</key>
            <string>pieces_6x4_bevel.png</string>
        </dict>
    </dict>
</plist>
