<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>p1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{240,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,221}}</string>
			<key>sourceSize</key>
			<string>{240,221}</string>
		</dict>
		<key>p10.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,2},{241,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,160}}</string>
			<key>sourceSize</key>
			<string>{241,160}</string>
		</dict>
		<key>p11.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,2},{240,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,220}}</string>
			<key>sourceSize</key>
			<string>{240,220}</string>
		</dict>
		<key>p12.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,2},{175,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,220}}</string>
			<key>sourceSize</key>
			<string>{175,220}</string>
		</dict>
		<key>p2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,225},{241,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,161}}</string>
			<key>sourceSize</key>
			<string>{241,161}</string>
		</dict>
		<key>p3.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,225},{240,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,221}}</string>
			<key>sourceSize</key>
			<string>{240,221}</string>
		</dict>
		<key>p4.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,225},{175,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,221}}</string>
			<key>sourceSize</key>
			<string>{175,221}</string>
		</dict>
		<key>p5.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,225},{175,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,161}}</string>
			<key>sourceSize</key>
			<string>{175,161}</string>
		</dict>
		<key>p6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,448},{240,281}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,281}}</string>
			<key>sourceSize</key>
			<string>{240,281}</string>
		</dict>
		<key>p7.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,448},{306,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,161}}</string>
			<key>sourceSize</key>
			<string>{306,161}</string>
		</dict>
		<key>p8.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,448},{175,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,161}}</string>
			<key>sourceSize</key>
			<string>{175,161}</string>
		</dict>
		<key>p9.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,448},{240,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,220}}</string>
			<key>sourceSize</key>
			<string>{240,220}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>pieces_4x3-ipad.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d20ec357f2eb1445848de5a7ae794733$</string>
		<key>textureFileName</key>
		<string>pieces_4x3-ipad.png</string>
	</dict>
</dict>
</plist>
