<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,442}}</string>
                <key>sourceSize</key>
                <string>{480,442}</string>
            </dict>
            <key>p10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{482,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,320}}</string>
                <key>sourceSize</key>
                <string>{482,320}</string>
            </dict>
            <key>p11.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{480,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,440}}</string>
                <key>sourceSize</key>
                <string>{480,440}</string>
            </dict>
            <key>p12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{350,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,440}}</string>
                <key>sourceSize</key>
                <string>{350,440}</string>
            </dict>
            <key>p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{482,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,322}}</string>
                <key>sourceSize</key>
                <string>{482,322}</string>
            </dict>
            <key>p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,446},{480,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,442}}</string>
                <key>sourceSize</key>
                <string>{480,442}</string>
            </dict>
            <key>p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,446},{350,442}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,442}}</string>
                <key>sourceSize</key>
                <string>{350,442}</string>
            </dict>
            <key>p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,446},{350,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,322}}</string>
                <key>sourceSize</key>
                <string>{350,322}</string>
            </dict>
            <key>p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{480,562}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,562}}</string>
                <key>sourceSize</key>
                <string>{480,562}</string>
            </dict>
            <key>p7.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,890},{612,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,322}}</string>
                <key>sourceSize</key>
                <string>{612,322}</string>
            </dict>
            <key>p8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,890},{350,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,322}}</string>
                <key>sourceSize</key>
                <string>{350,322}</string>
            </dict>
            <key>p9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,890},{480,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,440}}</string>
                <key>sourceSize</key>
                <string>{480,440}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_4x3-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:145469ed31fe37e6d3ae09e142d76458$</string>
            <key>textureFileName</key>
            <string>pieces_4x3-ipadhd.png</string>
        </dict>
    </dict>
</plist>
