<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,241}}</string>
                <key>sourceSize</key>
                <string>{320,241}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1181},{408,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,241}}</string>
                <key>sourceSize</key>
                <string>{408,241}</string>
            </dict>
            <key>s11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{233,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,420}}</string>
                <key>sourceSize</key>
                <string>{233,420}</string>
            </dict>
            <key>s12.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,2},{320,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,241}}</string>
                <key>sourceSize</key>
                <string>{320,241}</string>
            </dict>
            <key>s13.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{320,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,241}}</string>
                <key>sourceSize</key>
                <string>{320,241}</string>
            </dict>
            <key>s14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,2},{233,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,421}}</string>
                <key>sourceSize</key>
                <string>{233,421}</string>
            </dict>
            <key>s15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{407,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,241}}</string>
                <key>sourceSize</key>
                <string>{407,241}</string>
            </dict>
            <key>s16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{234,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,421}}</string>
                <key>sourceSize</key>
                <string>{234,421}</string>
            </dict>
            <key>s17.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,425},{407,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,241}}</string>
                <key>sourceSize</key>
                <string>{407,241}</string>
            </dict>
            <key>s18.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,425},{233,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,421}}</string>
                <key>sourceSize</key>
                <string>{233,421}</string>
            </dict>
            <key>s19.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,425},{233,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,330}}</string>
                <key>sourceSize</key>
                <string>{233,330}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,425},{233,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,331}}</string>
                <key>sourceSize</key>
                <string>{233,331}</string>
            </dict>
            <key>s20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,425},{407,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,240}}</string>
                <key>sourceSize</key>
                <string>{407,240}</string>
            </dict>
            <key>s21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,425},{233,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,330}}</string>
                <key>sourceSize</key>
                <string>{233,330}</string>
            </dict>
            <key>s22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{408,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,240}}</string>
                <key>sourceSize</key>
                <string>{408,240}</string>
            </dict>
            <key>s23.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,848},{233,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,330}}</string>
                <key>sourceSize</key>
                <string>{233,330}</string>
            </dict>
            <key>s24.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,848},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,848},{407,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,240}}</string>
                <key>sourceSize</key>
                <string>{407,240}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,848},{234,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,331}}</string>
                <key>sourceSize</key>
                <string>{234,331}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,848},{407,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,240}}</string>
                <key>sourceSize</key>
                <string>{407,240}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1181},{233,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,331}}</string>
                <key>sourceSize</key>
                <string>{233,331}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1181},{233,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,420}}</string>
                <key>sourceSize</key>
                <string>{233,420}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1181},{408,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,241}}</string>
                <key>sourceSize</key>
                <string>{408,241}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1181},{233,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,420}}</string>
                <key>sourceSize</key>
                <string>{233,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pieces_6x4_bevel-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45552cffba796e5d5268e6dcd574a77c$</string>
            <key>textureFileName</key>
            <string>pieces_6x4_bevel-ipadhd.png</string>
        </dict>
    </dict>
</plist>
